<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- <link rel="stylesheet" href="../static/css/all.min.css" />
    <link rel="stylesheet" href="./css/all.min.css" />
    <link rel="stylesheet" href="./css/style.css" /> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='../static/css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='../static/css/all.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='../static/css/style.css') }}"
    />
  </head>

  <body>
    <nav class="navbar bg-body-secondary">
      <div class="container-fluid">
        <a href="index-home.html" class="navbar-brand"
          >Book Store <i class="fa-solid fa-book fa-sm mx-2"></i
        ></a>
        <form class="" role="search">
          <button type="button" class="btn btn-success me-5">
            <a href="index-books.html">Books</a>
          </button>
          <button class="btn btn-success me-5" type="button">
            <a href="index-author.html">Authors</a>
          </button>
          <button class="btn btn-success me-5" type="button">
            <a href="index-publishers.html">Publishers</a>
          </button>
          <button class="btn btn-success me-5" type="button">
            <a href="index-customers.html">Customers</a>
          </button>
          <button class="btn btn-success me-5" type="button">
            <a href="index-orders.html">Orders</a>
          </button>
          <button class="btn btn-success me-5" type="button">
            <a href="index-ordered-bks.html">Ordered Books</a>
          </button>
        </form>
      </div>
    </nav>

    <div
      id="home"
      class="position-relative grid_container home-container text-center"
    >
      <div
        class="text-secondary position-absolute top-50 start-50 translate-middle"
      >
        <div class="">
          <i
            class="fa-solid fa-book fa-beat-fade fa-2xl mx-5 my-5"
            style="color: white"
          ></i>
          <i
            class="fa-solid fa-book fa-beat-fade fa-2xl mx-5 my-5"
            style="color: white"
          ></i>
          <i
            class="fa-solid fa-book fa-beat-fade fa-2xl mx-5 my-5"
            style="color: white"
          ></i>
        </div>
        <h1>Book Store Get Every Thing Handled</h1>
        <div class="">
          <i
            class="fa-solid fa-book fa-beat-fade fa-2xl mx-5 my-5"
            style="color: white"
          ></i>
          <i
            class="fa-solid fa-book fa-beat-fade fa-2xl mx-5 my-5"
            style="color: white"
          ></i>
          <i
            class="fa-solid fa-book fa-beat-fade fa-2xl mx-5 my-5"
            style="color: white"
          ></i>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='../static/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
